.ixorptube-sidebar {}

.unselective {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none;
}

.ixorptube-logo {
    font-family: Satisfy;
    color: @primary-color;
    font-size: 26px;
    margin-top: 12px;
    font-weight: 100;
}

.ixorptube-page-container {
    position: relative; //left: 65px;
    width: 100%;
    margin-top: 16px;
    padding:8px;
}

#contents {
    left: @bar-width;
    position: relative;
    width: @window-width - @bar-width;
}